#root {
    height: 100vh;
    font-family: sans-serif;
}

.cuadroPrincipal {
    background-color: #084f83;
    width: 35%;
    height: 65%;
    margin: 0 auto;
    margin-top: 7%;
    position: relative;
}

.cuadroSecundario {
    background-color: #003b67;
    width: 90%;
    height: 90%;
    text-align: center;
    color: white;
    position: absolute;
    margin-top: 4%;
    margin-left: 5%;

    h1 {
        padding: 5%;
    }

}

.rango {

    h2 {
        width: 50%;
        display: inline-block;
    }

    p {
        width: 50%;
        display: inline-block;
    }

}